@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*standad*/

@media(width) {


    * {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        background:#f0f0f0;
        margin: 0;
    }

    .main-backcolor{
        width:100%;
        height: 100%;
        background-color:#480077;
        z-index:-1;
    }
    
    .animation01{
        position: absolute;
        top:0;
        left:50%;
        width:50%;
        height: 1080px;
        overflow: hidden;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    
    #wrapper {
        margin-top: 80px;
        max-width: 1920px;
    }

    .aside {
        max-width: 460px;
        height: 854px;
        padding: 0;
        margin: 0;
    }


    .tab2,
    .tab3,
    .tab4 {
        display: none;
    }

    .tabs-menu li:hover {
        color: #480077;
    }

    .active {
        color: #480077;
        font-weight:500;
        /*border-bottom: 4px solid #480077;*/
    }

    #tabs-container {
        max-width: 1566px;
        min-height: 854px;
        margin: 1.5% 9.2%;
        background-color: #fafafa;
    }



    .tabs-menu {
        position: fixed;
        z-index: 9999;
        right: 0;
        padding: 42px 13.9% 0 0;

    }

    .tabs-menu li {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        margin: 0 0 0 20px;

    }

    .nav-underline {
        position: absolute;
        left: 24px;
        bottom: -2px;
        width: 6.8%;
        height: 4px;
        background-color: #480077;
        transition: all .3s ease-in-out;
    }

    .logo {
        margin: 48px 0 0 48px;
    }


}

/*standad*/

/*tab1*/

@media(width) {

    .home_aside {
        background-color: #480077;
    }


    .home_mainimg {
        margin: 24.7% 0 0 50%;
        width: 100%;
    }


    .home_content {
        text-align: right;
        margin: 26.6% 4.9% 0 0;
    }


    .home_wrap .home_title {
        font-size: 60px;
        font-weight: 100;
        color: #333333;
        margin: -10px 0 0 0;
        padding: 0;
    }
}


/*responsive 1440*/

@media(max-width:1440px) {

    #wrapper {
        width: 1440px;
        max-width: none !important
    }

    .about_mainimg {
        display: block;
        width: 60%;
        margin: 19.7% 0 0 20% !important;
    }

    .skillTree {
        width: 700px !important;

    }

    .portfolio_mainimg {
        display: block;
        width: 60%;
        margin: 19.7% 0 0 20% !important;
    }


    .portfolio_content {
        margin: 156px 0 0 14.1% !important;
    }
}


/*responsive 2000px*/

@media(min-width:2000px) {
    .tabs-menu {
        padding: 42px 22% 0 0;
    }
}

/*tab2*/

@media(width) {
    .about_aside {
        background-color: #e6e6e6;
    }


    .about_mainimg {
        margin: 19.7% 0 0 20%;
    }

    .about_content {
        margin: 15% 6.9% 0 0;
    }


    .macDevice {
        position: absolute;
        left: 58%;
        top: 23%;
    }



    .aboutText h2 {
        display: inline-block;
        font-size: 40px;
        color: #1a1a1a;
        width: bold;

    }

    .aboutText h4 {
        display: inline-block;
        font-size: 26px;
        color: #4d4d4d;
        font-weight: 400;
        padding: 0 0 0 10px
    }

    .aboutText h5 {
        margin: 0;
        padding: 0;
        font-size: 28px;
        color: #4d4d4d;
        font-weight: 100;
    }

    .aboutText h3 {
        display: inline-block;
        margin: 36px 0 0 0;
        color: #1a1a1a;
    }

    .aboutText p {
        font-size: 16px;
        color: #1a1a1a;
        font-weight: normal;
    }

    .aboutText span {
        display: inline-block;
        padding: 0 0 0 10px;

    }
}

/*tab3*/

@media(width) {




    .skill_aside {
        background: #e6e6e6;
    }

    .skill_mainimg {
        width: 345px;
        height: 560px;
        object-fit: contain;
        margin: 10.8% 13.7% 11.8% 11.3%;
    }

    .skill_content .group {
        width: 100%;
    }

    .skillTree {
        width: 900px;
        margin: 20% 0 0 4%;
    }

    .skillTool {
        display: inline-block;
    }

    .skillTool02 {

        display: inline-block;
    }

    .tool {
        display: inline-block;
    }

    .status {
        width: 80%;
        display: inline-block;
    }

    .group {
        width: 1600px;
        margin: 40px 0 0 0;
    }

}


/*tab4*/

@media(width) {

    .portfolio_aside {
        background-color: #480077;
    }



    .portfolio_mainimg {
        width: 100%;
        margin: 16.4% 0 0 36%;
    }



    .scrollview {
        margin: 10px 0 0 0;
        min-width: 633px;
        max-width: 633px;
        height: 630px;
        overflow: scroll;

    }

    .card-group {
        position: relative;
        overflow: hidden;
        width:199px;
        height: 267px;
        margin: 20px 10px 0 0;
    }
    
    .card-group img{
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.3s ease-in-out;
    }
    
    .card-group:hover img{
        width:110%;
    }
    .card-box{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;

    }
    
    .card-group:hover .card-box{
        opacity: 1;
    }
    
    .card-box:hover{
            background-color: rgba(0, 0, 0, 0.6);
    }
    
    .text{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .portfolio_content {
        margin: 156px 0 0 23.1%;
    }

    .snslink {
        width: 600px;
    }

    .snslink > h3 {
        display: inline-block;
        font-weight: 700;
    }

    .snslink > .sns {
        display: inline-block;
        border-top: 3px solid #666;
        border-bottom: 3px solid #666;
        height: 50px;
        margin: 10px;

    }

    .snslink .sns a {
        margin: 0 10px 0 0;
    }

    .snslink .sns a img {
        width: 28px;
        margin-top: 6px;
    }
    

    
}
